
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-gradient {
        background-image: linear-gradient(to right, #c9058f, #8108b0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .text-gradient2 {
        background-image: linear-gradient(to right, #3F37C9, #4CC9F0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .text-gradient3 {
        background-image: linear-gradient(to right, #FF0276, #7209B7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}